/* fretboard.css */

.note-label {
  position: absolute; /* Positioning it absolutely within the .fret div */
  top: 2px; /* Close to the top of the fret box */
  left: 2px; /* Close to the left of the fret box */
  font-size: 10px; /* Smaller font size for the labels */
  color: #fff; /* Ensuring the text color is white for better visibility */
  font-weight: bold; /* Optional: for better visibility */
}

.fretboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.string {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.fret {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd; 
  margin-right: 2px;
  border-radius: 4px;
  background-color: #333; /* dafq */
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff; 
}

.fret.open-note {
  margin-right: 7px; 
}

.fret.open-note::after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px; 
  width: 3px;
  height: 100%;
  background-color: #8C92AC; /* Fret Divider Color */
}

.fret:last-child {
  margin-right: 0;
}

.note {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.fretboard {
    margin-bottom: 80px;  
}
