.piano {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden; /* Ensure container doesn't cut off black keys */
}

.keys {
  display: flex;
  position: relative;
}

.key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.white-key {
  width: 24px;
  height: 100px;
  background-color: white;
  margin-right: 2px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.black-key {
  width: 18px;
  height: 65px;
  background-color: black;
  color: white;
  position: absolute;
  border-radius: 0 0 4px 4px;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  z-index: 2;
}

.note-name {
  color: white; /* Ensures visibility on darker keys */
  font-size: 12px;
  position: absolute;
  bottom: 5px;  /* Position from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Centers text horizontally */
}

.key-container {
  position: relative;
}


